---

import Navigation from '../components/Navigation.astro';
import Footer from '../components/footer.astro';
import MidleBanner from '../components/MidleBanner.astro';

import '../styles/global.css';
import '../styles/Cryptopage.css';

const { pageTitle } = Astro.props;

const Firstpost = await Astro.glob('../pages/posts/crypto-1.md');
const Secondtpost = await Astro.glob('../pages/posts/crypto2.md');
const Thirdpost = await Astro.glob('../pages/posts/crypto3.md');
const Fourpost = await Astro.glob('../pages/posts/crypto4.md');
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favpw.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta charset="UTF-8">
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
		
		<style>
            @import url('https://fonts.cdnfonts.com/css/helvetica-255');
            </style>
		<title>Análisis Financiero | Plankton News</title>
        <slot />
	</head>
	<body>
		
	
		<Navigation />
        <section class="banner-pw">
        <div class="banner-pw-content">
        <div class="banner-pw-grid">

            <div >
                <h1>Crypto</h1>
                <p>Entérate de las últimas noticias antes que nadie</p>
            </div>

            <div></div>
        </div>
        </div>
        </section>

        <section class="body-pw">
            <div class="body-pw-content">
                <p class="breadcrumbs"> Inicio / Crypto</p>

            </div>

            <section class="tecnologia">
                <div class="tec-cont">
                    <div class="tec-grid">
                        <div class="tec-post">
                            <div class="tec-first-image"></div>
                            <h1>{Firstpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                            <p>{Firstpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
                            <h4>{Firstpost.map((post) =><h4>{post.frontmatter.author} | 5 min read</h4>)}</h4>
                        </div>

                        <div class="tec-post">
                            <div class="tec-second-image"></div>
                            <h1>{Secondtpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                            <p>{Secondtpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
                            <h4>{Secondtpost.map((post) =><h4>{post.frontmatter.author} | 5 min read</h4>)}</h4>
                        </div>

                        <div class="tec-post">
                            <div class="tec-third-image"></div>
                            <h1>{Thirdpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                            <p>{Thirdpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
                            <h4>{Thirdpost.map((post) =><h4>{post.frontmatter.author} | 5 min read</h4>)}</h4>
                        </div>

                        <div class="tec-post">
                            <div class="tec-four-image"></div>
                            <h1>{Fourpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                            <p>{Fourpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
                            <h4>{Fourpost.map((post) =><h4>{post.frontmatter.author} | 5 min read</h4>)}</h4>
                        </div>

                    </div>
                </div>
            </section>
        </section>
        <MidleBanner />
		<Footer />
		
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
  </html>
	</body>
</html>