---
const Firstpost = await Astro.glob('../pages/posts/crypto-1.md');

import '../styles/crypto.css'
import {Image} from 'astro:assets';
import myImage from "../assets/Cover_Blog_PW_16.02.24.png";
---

<section class="crypto">
<div class="crypto-cont">
    <div class="crypto-text-grid">
        <h1>Crypto</h1>
        <h3>Ver más > </h3>
    </div>

    <div class="crypto-grid">

        <div>
                <Image src={myImage} alt="" class="crypto-image" />
            <div class="crypto-post-grid">
                <h1>{Firstpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                <p>{Firstpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
            </div> 
        </div>

        <div class="rigt-crypto">
            <div class="post-crypto-grid">
                <Image src={myImage} alt="" class="crypto-image-post" />
                <div class="text-crypto">
                    <h1>{Firstpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                    <br>
                    <p>{Firstpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
                </div>
                
            </div>

            <div class="post-crypto-grid">
                <Image src={myImage} alt="" class="crypto-image-post" />
                <div class="text-crypto">
                    <h1>{Firstpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                    <br>
                    <p>{Firstpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
                </div>
            </div>

            <div class="post-crypto-grid">
                <Image src={myImage} alt="" class="crypto-image-post" />
                <div class="text-crypto">
                    <h1>{Firstpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                    <br>
                    <p>{Firstpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
                </div>
            </div>
        </div>

    </div> 
    </div> 
</section>