---
const Firstpost = await Astro.glob('../pages/posts/crypto-1.md');

const GridFirstpost = await Astro.glob('../pages/posts/crypto2.md');
const GridSecondpost = await Astro.glob('../pages/posts/crypto3.md');
const GridThirdpost = await Astro.glob('../pages/posts/crypto4.md');

import '../styles/crypto.css'

---

<section class="crypto">
<div class="crypto-cont">
    <div class="crypto-text-grid">
        <h1>Crypto</h1>
        <h3><a href="#">Ver más > </a></h3>
    </div>

    <div class="crypto-grid">

        <div>
            <div class="crypto-first-image"></div>
            <div class="crypto-post-grid">
                <h1>{Firstpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                <p>{Firstpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
            </div> 
        </div>

        <div class="rigt-crypto">
            <div class="post-crypto-grid">
                <div class="crypto-grid-first-image"></div>
                <div class="text-crypto">
                    <h1>{GridFirstpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                    <br>
                    <p>{GridFirstpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
                </div>
                
            </div>

            <div class="post-crypto-grid">
                <div class="crypto-grid-second-image"></div>
                <div class="text-crypto">
                    <h1>{GridSecondpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                    <br>
                    <p>{GridSecondpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
                </div>
            </div>

            <div class="post-crypto-grid">
                <div class="crypto-grid-third-image"></div>
                <div class="text-crypto">
                    <h1>{GridThirdpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                    <br>
                    <p>{GridThirdpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
                </div>
            </div>
        </div>

    </div> 
    </div> 
</section>