---
const Firstpost = await Astro.glob('../pages/posts/finanzas1.md');

const GridFirstpost = await Astro.glob('../pages/posts/finanzas2.md');
const GridSecondtpost = await Astro.glob('../pages/posts/finanzas3.md');
const GridThirdpost = await Astro.glob('../pages/posts/finanzas4.md');
const GridFourdpost = await Astro.glob('../pages/posts/finanzas5.md');

import '../styles/finanzas.css'
import {Image} from 'astro:assets';
import myImage from "../assets/Cover_Blog_PW_16.02.24.png";
---

<section class="finanzas">
    <div class="finanzas-cont">
        <div class="finanzas-text-grid">
            <h1>Finanzas</h1>
            <h3><a href="/finanzas">Ver más ></a> </h3>
        </div>
        <div class="finanzas-grid">
            <div class="izq-grid">
                <div class="finanzas-first-image"></div>
                <h1>{Firstpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                <p>{Firstpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
            </div>
            
            <div class="right-grid">
                
                <div>
                    <div class="finanzas-grid-first-image"></div>
                    <h1>{GridFirstpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                    <p>{GridFirstpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
                </div>
                    <div>
                        <div class="finanzas-grid-second-image"></div>
                    <h1>{GridSecondtpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                    <p>{GridSecondtpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
                </div>
            

        
                <div class="down-grid">
                    <div class="finanzas-grid-third-image"></div>
                    <h1>{GridThirdpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                    <p>{GridThirdpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
                </div>
                    <div class="down-grid">
                        <div class="finanzas-grid-four-image"></div>
                    <h1>{GridFourdpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                    <p>{GridFourdpost.map((post) =><p>{post.frontmatter.description}</p>)}</p> 
            </div>
            </div>
            

        </div>
    </div>
</section>