---
const Firstpost = await Astro.glob('../pages/posts/crypto-1.md');
const Secondpost = await Astro.glob('../pages/posts/finanzas1.md');
const Thirdpost = await Astro.glob('../pages/posts/analisis-1.md');

import '../styles/leido.css';

import {Image} from 'astro:assets';
import myImage from "../assets/Cover_Blog_PW_16.02.24.png";
---

<section class="leido">
    <div class="leido-cont">
        <div class="leido-grid">
            
            <div class="text-grid">
                <h1>Lo más leído</h1>
                <h3><a href="/blog"></a></h3>
                
               <div class="pos-grid">
                <div>
                    <div class="leido-first-image"></div>
                    <h1>{Firstpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                    <p>{Firstpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
                    <h4>{Secondpost.map((post) =><p>{post.frontmatter.category} | 5 min read</p>)}</h4>
                </div>

                <div>
                    <div class="leido-second-image"></div>
                    <h1>{Secondpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                    <p>{Secondpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
                    <h4>{Secondpost.map((post) =><p>{post.frontmatter.category} | 5 min read</p>)}</h4>
                </div>

                <div>
                    <div class="leido-third-image"></div>
                    <h1>{Thirdpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                    <p>{Thirdpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
                    <h4>{Secondpost.map((post) =><p>{post.frontmatter.category} | 5 min read</p>)}</h4>
                </div>
                
                </div> 
            </div>
            
            <div class="currency">
            <!-- Currency Converter Script - EXCHANGERATEWIDGET.COM -->
            <div style="width:198px;border:3px solid #E8EADF;border-radius:5px; ">
            <div style="text-align:center;background-color:#E8EADF;font-size:13px;font-weight:bold;height:22px;">
            <a href="https://www.exchangeratewidget.com/" style="color:#0F1416;text-decoration:none;font-family: 'Helvetica', sans-serif;" rel="nofollow">Convertidor de monedas</a></div><script type="text/javascript" src="https://www.exchangeratewidget.com/converter.php?l=es&f=USD&t=MXN&a=1&d=E8EADF&n=FFFFFF&o=0F1416&v=3"></script></div>
            <!-- End of Currency Converter Script -->
            </div>
        </div>
    </div>
</section>