---
const Firstpost = await Astro.glob('../pages/posts/crypto-1.md');
const Secondpost = await Astro.glob('../pages/posts/crypto2.md');
const Thirdpost = await Astro.glob('../pages/posts/crypto3.md');
const Fourpost = await Astro.glob('../pages/posts/crypto4.md');
const Fivepost = await Astro.glob('../pages/posts/crypto5.md');

import '../styles/mainhead.css'

import {Image} from 'astro:assets';
import Principal1 from "../assets/Crypto1.png";
import Principal2 from "../assets/Crypto2.webp";
import Principal3 from "../assets/Flujos-de-Bitcoin.webp";
import Principal4 from "../assets/Solana.webp";
import Principal5 from "../assets/Genesis.webp";
---

<div class="maninhead">
    <div class="main-cont">
        <div class="main-grid">
    <div class="banner">
        <h1>{Firstpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
        <p>{Firstpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>

        <h4 class="meta">{Firstpost.map((post) =><p>{post.frontmatter.category} | {post.frontmatter.author} | {post.frontmatter.pubDate}</p>)} </h4>
    </div>  
    <div>
        <Image src={Principal1} alt="" class="image" />
    </div>

    <div>
        <div class="post-grid">
            <Image src={Principal2} alt="" class="img-post" />
            <div class="data">
                <h4 class="meta">{Secondpost.map((post) =><p>{post.frontmatter.author} | {post.frontmatter.pubDate}</p>)}</h4>
                <h2>{Secondpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h2>
                <h4>{Secondpost.map((post) =><p>{post.frontmatter.category} | 8 mins read</p>)}</h4>
            </div>
        </div>

        <div class="post-grid">
            <Image src={Principal3} alt="" class="img-post" />
            <div class="data">
                <h4 class="meta">{Thirdpost.map((post) =><p>{post.frontmatter.author} | {post.frontmatter.pubDate}</p>)}</h4>
                <h2>{Thirdpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h2>
                <h4>{Thirdpost.map((post) =><p>{post.frontmatter.category} | 8 mins read</p>)}</h4>
            </div>
        </div>

        <div class="post-grid">
            <Image src={Principal4} alt="" class="img-post" />
            <div class="data">
                <h4 class="meta">{Fourpost.map((post) =><p>{post.frontmatter.author} | {post.frontmatter.pubDate}</p>)}</h4>
                <h2>{Fourpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h2>
                <h4>{Fourpost.map((post) =><p>{post.frontmatter.category} | 8 mins read</p>)}</h4>
            </div>
        </div>

        <div class="post-grid">
            <Image src={Principal5} alt="" class="img-post" />
            <div class="data">
                <h4 class="meta">{Fourpost.map((post) =><p>{post.frontmatter.author} | {post.frontmatter.pubDate}</p>)}</h4>
                <h2>{Fivepost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h2>
                <h4>{Fivepost.map((post) =><p>{post.frontmatter.category} | 8 mins read</p>)}</h4>
            </div>
        </div>
    </div>
        </div>
    </div>
</div>

<section class="news">
    <div class="news-cont">
        <div class="news-grid">
            <div class="postnews-grid">
                <div class="data">
                    <h4 class="meta">{Fourpost.map((post) =><p>{post.frontmatter.author} | {post.frontmatter.pubDate}</p>)}</h4>
                    <h2>{Fivepost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h2>
                    <h4>{Fivepost.map((post) =><p>{post.frontmatter.category} | 8 mins read</p>)}</h4>
                </div>
            </div>

            <div class="postnews-grid">
                <div class="data">
                    <h4 class="meta">{Fourpost.map((post) =><p>{post.frontmatter.author} | {post.frontmatter.pubDate}</p>)}</h4>
                    <h2>{Fivepost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h2>
                    <h4>{Fivepost.map((post) =><p>{post.frontmatter.category} | 8 mins read</p>)}</h4>
                </div>
            </div>

            <div class="postnews-grid">
                <div class="data">
                    <h4 class="meta">{Fourpost.map((post) =><p>{post.frontmatter.author} | {post.frontmatter.pubDate}</p>)}</h4>
                    <h2>{Fivepost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h2>
                    <h4>{Fivepost.map((post) =><p>{post.frontmatter.category} | 8 mins read</p>)}</h4>
                </div>
            </div>

            <div class="postnews-grid">
                <div class="data">
                    <h4 class="meta">{Fourpost.map((post) =><p>{post.frontmatter.author} | {post.frontmatter.pubDate}</p>)}</h4>
                    <h2>{Fivepost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h2>
                    <h4>{Fivepost.map((post) =><p>{post.frontmatter.category} | 8 mins read</p>)}</h4>
                </div>
            </div>
        </div>

    </div>

</section>