---
const Firstpost = await Astro.glob('../pages/posts/crypto-1.md');
const Secondpost = await Astro.glob('../pages/posts/crypto2.md');
const Thirdpost = await Astro.glob('../pages/posts/crypto3.md');
const Fourpost = await Astro.glob('../pages/posts/crypto4.md');
const Fivepost = await Astro.glob('../pages/posts/crypto5.md');

const AnalisisFirst = await Astro.glob('../pages/posts/analisis-1.md');
const AnalisisSecond = await Astro.glob('../pages/posts/analisis2.md');
const AnalisisThird = await Astro.glob('../pages/posts/analisis3.md');
const AnalisisFour = await Astro.glob('../pages/posts/analisis4.md');

import '../styles/mainhead.css'


---

<div class="maninhead">
    <div class="main-cont">
        <div class="main-grid">
    <div class="banner">
        <h1>{Firstpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
        <p>{Firstpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>

        <h4 class="meta">{Firstpost.map((post) =><p>{post.frontmatter.category} | {post.frontmatter.author} | {post.frontmatter.pubDate}</p>)} </h4>
    </div>

    <div class="first-image"></div>

    <div>
        <div class="post-grid">
            <div class="second-image"></div>
            <div class="data">
                <h4 class="meta">{Secondpost.map((post) =><h4>{post.frontmatter.author} | {post.frontmatter.pubDate}</h4>)}</h4>
                <h2>{Secondpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h2>
                <h4>{Secondpost.map((post) =><h4>{post.frontmatter.category} | 8 mins read</h4>)}</h4>
            </div>
        </div>

        <div class="post-grid">
            <div class="third-image"></div>
            <div class="data">
                <h4 class="meta">{Thirdpost.map((post) =><h4>{post.frontmatter.author} | {post.frontmatter.pubDate}</h4>)}</h4>
                <h2>{Thirdpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h2>
                <h4>{Thirdpost.map((post) =><h4>{post.frontmatter.category} | 8 mins read</h4>)}</h4>
            </div>
        </div>

        <div class="post-grid">
            <div class="four-image"></div>
            <div class="data">
                <h4 class="meta">{Fourpost.map((post) =><p>{post.frontmatter.author} | {post.frontmatter.pubDate}</p>)}</h4>
                <h2>{Fourpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h2>
                <h4>{Fourpost.map((post) =><h4>{post.frontmatter.category} | 8 mins read</h4>)}</h4>
            </div>
        </div>

        <div class="post-grid">
            <div class="five-image"></div>
            <div class="data">
                <h4 class="meta">{Fourpost.map((post) =><p>{post.frontmatter.author} | {post.frontmatter.pubDate}</p>)}</h4>
                <h2>{Fivepost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h2>
                <h4>{Fivepost.map((post) =><h4>{post.frontmatter.category} | 8 mins read</h4>)}</h4>
            </div>
        </div>
    </div>
        </div>
    </div>
</div>

<section class="news">
    <div class="news-cont">
        <div class="news-grid">
            <div class="postnews-grid">
                <div class="data">
                    <h4 class="meta">{AnalisisFirst.map((post) =><p>{post.frontmatter.author} | {post.frontmatter.pubDate}</p>)}</h4>
                    <h2>{AnalisisFirst.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h2>
                    <h4>{AnalisisFirst.map((post) =><p>{post.frontmatter.category} | 8 mins read</p>)}</h4>
                </div>
            </div>

            <div class="postnews-grid">
                <div class="data">
                    <h4 class="meta">{AnalisisSecond.map((post) =><p>{post.frontmatter.author} | {post.frontmatter.pubDate}</p>)}</h4>
                    <h2>{AnalisisSecond.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h2>
                    <h4>{AnalisisSecond.map((post) =><p>{post.frontmatter.category} | 8 mins read</p>)}</h4>
                </div>
            </div>

            <div class="postnews-grid">
                <div class="data">
                    <h4 class="meta">{AnalisisThird.map((post) =><p>{post.frontmatter.author} | {post.frontmatter.pubDate}</p>)}</h4>
                    <h2>{AnalisisThird.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h2>
                    <h4>{AnalisisThird.map((post) =><p>{post.frontmatter.category} | 8 mins read</p>)}</h4>
                </div>
            </div>

            <div class="postnews-grid">
                <div class="data">
                    <h4 class="meta">{AnalisisFour.map((post) =><p>{post.frontmatter.author} | {post.frontmatter.pubDate}</p>)}</h4>
                    <h2>{AnalisisFour.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h2>
                    <h4>{AnalisisFour.map((post) =><p>{post.frontmatter.category} | 8 mins read</p>)}</h4>
                </div>
            </div>
        </div>

    </div>

</section>