---
const Firstpost = await Astro.glob('../pages/posts/crypto-1.md');
const Secondpost = await Astro.glob('../pages/posts/finanzas1.md');
const Thirdpost = await Astro.glob('../pages/posts/analisis-1.md');
import '../styles/pw.css';
import {Image} from 'astro:assets';
import myImage from "../assets/Cover_Blog_PW_16.02.24.png";
---

<section class="pw">
    <div class="pw-cont">
        <div class="pw-text-grid">
            <h1>Plankton Wallet</h1>
            <h3><a href="#">Ver más > </a></h3>
        </div>
        <div class="pw-grid">
            <Image src={myImage} alt="" class="pw-image" />

            <div class="pw-pst">
                <h1>{Firstpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                <p>{Firstpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
                <h4>{Firstpost.map((post) =><h4>{post.frontmatter.category} | 5 min read</h4>)}</h4>
            </div>
        </div>

    </div>

</section>