---
const Firstpost = await Astro.glob('../pages/posts/crypto-1.md');

import '../styles/tecnologia.css'
import {Image} from 'astro:assets';
import myImage from "../assets/Cover_Blog_PW_16.02.24.png";
---

<section class="tecnologia">
    <div class="tec-cont">
        <div class="tec-text-grid">
            <h1>Tecnología</h1>
            <h3><a href="#">Ver más > </a></h3>
        </div>
        <div class="tec-grid">
            <div class="tec-post">
                <Image src={myImage} alt="" class="finanzas-post-image" />
                <h1>{Firstpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                <p>{Firstpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
                <h4>{Firstpost.map((post) =><h4>{post.frontmatter.author} | 5 min read</h4>)}</h4>
            </div>

            <div class="tec-post">
                <Image src={myImage} alt="" class="finanzas-post-image" />
                <h1>{Firstpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                <p>{Firstpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
                <h4>{Firstpost.map((post) =><h4>{post.frontmatter.author} | 5 min read</h4>)}</h4>
            </div>

            <div class="tec-post">
                <Image src={myImage} alt="" class="finanzas-post-image" />
                <h1>{Firstpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                <p>{Firstpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
                <h4>{Firstpost.map((post) =><h4>{post.frontmatter.author} | 5 min read</h4>)}</h4>
            </div>

            <div class="tec-post">
                <Image src={myImage} alt="" class="finanzas-post-image" />
                <h1>{Firstpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                <p>{Firstpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
                <h4>{Firstpost.map((post) =><h4>{post.frontmatter.author} | 5 min read</h4>)}</h4>
            </div>
        </div>
    </div>

</section>