---
const Firstpost = await Astro.glob('../pages/posts/tec1.md');
const Secondtpost = await Astro.glob('../pages/posts/tec2.md');
const Thirdpost = await Astro.glob('../pages/posts/tec3.md');
const Fourpost = await Astro.glob('../pages/posts/tec4.md');
import '../styles/tecnologia.css';
---

<section class="tecnologia">
    <div class="tec-cont">
        <div class="tec-text-grid">
            <h1>Tecnología</h1>
            <h3><a href="/tecnologia">Ver más > </a></h3>
        </div>
        <div class="tec-grid">
            <div class="tec-post">
                <div class="tec-first-image"></div>
                <h1>{Firstpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                <p>{Firstpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
                <h4>{Firstpost.map((post) =><h4>{post.frontmatter.author} | 5 min read</h4>)}</h4>
            </div>

            <div class="tec-post">
                <div class="tec-second-image"></div>
                <h1>{Secondtpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                <p>{Secondtpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
                <h4>{Secondtpost.map((post) =><h4>{post.frontmatter.author} | 5 min read</h4>)}</h4>
            </div>

            <div class="tec-post">
                <div class="tec-third-image"></div>
                <h1>{Thirdpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                <p>{Thirdpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
                <h4>{Thirdpost.map((post) =><h4>{post.frontmatter.author} | 5 min read</h4>)}</h4>
            </div>

            <div class="tec-post">
                <div class="tec-four-image"></div>
                <h1>{Fourpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                <p>{Fourpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
                <h4>{Fourpost.map((post) =><h4>{post.frontmatter.author} | 5 min read</h4>)}</h4>
            </div>
        </div>
    </div>

</section>